{{ 'CWC_product_selling_plans.css' | asset_url | stylesheet_tag }}

<div class="cwc-subscription-checkbox">
  <div class="cwc-subscription-checkbox-wrapper">
    <div class="cwc-auto-refill-checkbox__wrapper">
      <input
        type="checkbox"
        id="auto-refill-{{ section.id }}"
        class="cwc-auto-refill-checkbox"
        checked
      >
      {% render 'CWC_icon-check', fill_color: '#ffffff' %}
    </div>

    <label for="auto-refill-{{ section.id }}" class="cwc-checkbox-label"> </label>
  </div>
  <div class="">
    <div class="cwc-checkbox-content">
      <div class="cwc-checkbox-title">
        {{ block.settings.title | default: 'Save 25% With Automatic Refills!' }}
      </div>
      <div class="cwc-checkbox-subtitle">
        {{ block.settings.subtitle | default: 'Zero Commitment | Exclusive Discounts | Cancel Anytime' }}
      </div>
    </div>
  </div>
</div>
