{% style %}
  .cwc_button-block-{{ block.id }} {
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  background-color: {{ block.settings.button_bg_color }};
  background: {{ block.settings.button_bg_color }};
  color: {{ block.settings.button_text_color }};
  }
  .cwc_button-block-{{ block.id }}:hover {
  border-color: {{ block.settings.button_bg_color }};
  color: {{ block.settings.button_bg_color }};
  background-color: transparent;
  /* background-color: {{ block.settings.button_bg_color | color_lighten: 5 }}; */



    transform: translateY(-2px);
    box-shadow: 0 8px 20px #0000001f;
  }
{% endstyle %}

{% if block.settings.text != blank %}
  <a
    href="{{ block.settings.link }}"
    class="cwc_button-block-{{ block.id }}"
  >
    {{ block.settings.text }}
  </a>
{% endif %}
{% if block.settings.note != blank %}
  <div class="cwc_button-block">{{ block.settings.note }}</div>
{% endif %}
