{% style %}
  .cwc-featured-product__benefit_icons {
  }
  .cwc_product-benefits-snippet {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 0;
    text-align: center;
    flex-wrap: wrap;
    width: calc(100% - 2rem);
    width: 100%;
    margin: auto;
    justify-content: space-around;
    /* margin-top: 1rem; */
  }

  .cwc_product-benefits-snippet .benefit-item {
    flex: 1 1 100px;
    max-width: 140px;
    max-width: 200px;
  }

  .cwc_product-benefits-snippet .benefit-icon {
    height: auto;
    margin: 0 auto 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;

    /*  */
    /* border-radius: 50%; */
    background: #60a1a2;
    background: #60a1a2;
    background: none;
    width: max-content;
    aspect-ratio: 1/1;
    flex: 1;
  }

  .cwc_product-benefits-snippet .benefit-icon img {
    width: 4rem;
    width: 5rem;
    height: auto;
    object-fit: contain;
    /*  */
    border: none;
    padding: 0.25rem;
    padding: 0.5rem;
    aspect-ratio: 1/1;
    background: #9db5d7;
    /*  */
    background: #ffffff;
    border-radius: 50%;
    border: 1px solid rgba(228, 228, 228, 1);
    width: 64px;
    margin: 0rem;
  }

  .cwc_product-benefits-snippet .benefit-icon .cwc_icon-placeholder {
    display: flex !important;
    background: #f5f5f5;
    border: 2px dashed #ddd;
    display: flex;
    color: #999;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    object-fit: contain;
    height: 100%;
    width: 100%;
    flex: 1 1;
    max-width: 64px;
    max-height: 64px;
    height: 4rem;
    width: 4rem;
  }
  .cwc_product-benefits-snippet .benefit-icon .cwc_icon-placeholder span {
    font-size: 1rem;
  }

  .cwc_product-benefits-snippet .benefit-label {
    font-size: 0.95rem;
    font-weight: 500;
    font-weight: bold;
    line-height: 1.4;
    line-height: 1.4;
    line-height: 130%;
  }
  .cwc-featured-product__benefit_icons.desktop__only {
    display: block;
  }
  .cwc-featured-product__benefit_icons.mobile__only {
    display: none;
  }
  @media screen and (max-width: 768px) {
    .cwc_product-benefits-snippet .benefit-label {
      font-size: 0.9rem;
    }
    .cwc_product-benefits-snippet .benefit-icon img {
      width: 100%;
    }
    .cwc_product-benefits-snippet {
      gap: 0.65rem;
      padding-top: 0rem;
    }
    .cwc-featured-product__benefit_icons.desktop__only {
      display: none;
    }
    .cwc-featured-product__benefit_icons.mobile__only {
      display: block;
      margin-bottom: 1rem;
    }
  }
{% endstyle %}

<div class="cwc_product-benefits-snippet" style="color: {{ block.settings.text_color }}" {{ block.shopify_attributes }}>
  <div class="benefit-item">
    <div class="benefit-icon">
      {% if block.settings.icon1 != blank %}
        <img
          loading="lazy"
          fetchpriority="medium"
          src="{{ block.settings.icon1 | image_url: width: 54  }}"
          alt="{{ block.settings.label1 | escape }}"
          width="{{ section.settings.image.width }}"
          height="{{ section.settings.image.height }}"
        >

      {% else %}
        <div class="cwc_icon-placeholder">
          <span>Icon</span>
        </div>
      {% endif %}
    </div>
    <div class="benefit-label">{{ block.settings.label1 }}</div>
  </div>
  <div class="benefit-item">
    <div class="benefit-icon" style="background-color: {{ block.settings.icon2_background }}">
      {% if block.settings.icon2 != blank %}
        <img
          loading="lazy"
          fetchpriority="medium"
          src="{{ block.settings.icon2 | image_url: width: 54  }}"
          alt="{{ block.settings.label2 | escape }}"
          width="{{ section.settings.image.width }}"
          height="{{ section.settings.image.height }}"
        >
      {% else %}
        <div class="cwc_icon-placeholder">
          <span>Icon</span>
        </div>
      {% endif %}
    </div>
    <div class="benefit-label">{{ block.settings.label2 }}</div>
  </div>
  <div class="benefit-item">
    <div class="benefit-icon" style="background-color: {{ block.settings.icon3_background }}">
      {% if block.settings.icon2 != blank %}
        <img
          loading="lazy"
          fetchpriority="medium"
          src="{{ block.settings.icon3 | image_url: width: 54  }}"
          alt="{{ block.settings.labe3 | escape }}"
          width="{{ section.settings.image.width }}"
          height="{{ section.settings.image.height }}"
        >
      {% else %}
        <div class="cwc_icon-placeholder">
          <span>Icon</span>
        </div>
      {% endif %}
    </div>
    <div class="benefit-label">{{ block.settings.label3 }}</div>
  </div>
</div>
