{% style %}
  .cwc-featured-product__review {
    background: #faf9f6;
    padding: 1rem;
    background: #f9fafb;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    background: #fff;
    border: 1px solid rgba(228, 228, 228, 1);
    border: 2px solid rgba(228, 228, 228, 1);
    padding: 0.75rem;
    margin-bottom: 1rem;
    padding: 0.9rem 1.25rem 0.8rem 1.25rem;
    padding: 0rem;
    border: 1px solid rgba(228, 228, 228, 1);
  }
  .cwc-featured-product__review-wrapper {
    padding: 0.9rem 1.25rem 0.8rem 1.25rem;
    padding: 1.25rem 1.25rem;

    display: flex;
    flex-direction: column;
    /*  */
    gap: 0.5rem;
  }

  /*  */
  /*  */
  .cwc-featured-product__review.desktop__only {
    display: block;
  }
  .cwc-featured-product__review.mobile__only {
    display: none;
  }
  .cwc-featured-product__review-wrapper {
    display: flex;
    align-items: flex-start;
    /* align-items: center; */
  }
  .cwc-featured-product__review-wrapper-star {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cwc-featured-product__review-wrapper-author {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    gap: 0.75rem;
    /*  */
    font-weight: 600;
    /*  */
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
  }
  .cwc-featured-product__review-wrapper-author p {
    margin: 0rem;
    /*  */
    align-items: center;
    grid-gap: 6px;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #00000080;
  }

  .cwc-testimonials__testimonial-author {
    display: flex;
    align-items: center;
    grid-gap: 6px;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #00000080;
  }

  .cwc-featured-product__review-wrapper-author-verified {
    font-weight: 400;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #009370;
    display: flex;
    align-items: center;
    grid-gap: 2px;
    grid-gap: 3px;
    color: #000000;
  }
  .cwc-featured-product__review-wrapper-author-verified {
    color: #009370;
  }
  .cwc-featured-product__review-wrapper-author-verified-icon {
  }
  .cwc-featured-product__review-wrapper-author-verified-icon svg {
    height: 18px;
    width: 18px;
  }
  .cwc-featured-product__review-wrapper-author-verified-text {
  }
  .cwc-featured-product__review-wrapper-text p {
    line-height: 130%;
    font-weight: 400;
  }
  .cwc-featured-product__review-wrapper-title {
    color: black;
  }
  .cwc-testimonials__testimonial-author--letter_hold {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 100%;
    color: #fff;
  }
  .cwc-testimonials__testimonial-author--letter_hold p {
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 100%;
    color: #fff;
  }

  .cwc-featured-product__review-wrapper-author-content {
    display: flex;
    align-items: center;
    grid-gap: 6px;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #00000080;
  }
  .cwc-featured-product__review-wrapper-author-content img {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
  }
  @media (max-width: 991px) {
    .cwc-featured-product__review.desktop__only {
      display: none;
    }
    .cwc-featured-product__review.mobile__only {
      display: block;
    }
  }

  @media (max-width: 768px) {
    .cwc-featured-product__review-wrapper {
      padding: 1.5rem 1rem;
    }
  }
{% endstyle %}

<div class="cwc-featured-product__review-wrapper">
  <span class="cwc-featured-product__review-wrapper-star">
    {% render 'CWC_rating_stars', fill_color: block.settings.star_color %}
  </span>
  <span class="cwc-featured-product__review-wrapper-title rte">{{ block.settings.title }}</span>
  <span class="cwc-featured-product__review-wrapper-text rte">
    {{ block.settings.text }}
  </span>
  <span class="cwc-featured-product__review-wrapper-author rte">
    {% comment %}  {% endcomment %}
    {% comment %}  {% endcomment %}
    {% comment %}  {% endcomment %}
    {% comment %}  {% endcomment %}
    <div class="cwc-featured-product__review-wrapper-author-content">
      {% if block.settings.author_image != blank %}
        <img
          loading="lazy"
          fetchpriority="low"
          src="{{ block.settings.author_image | image_url: width: 36 }}"
          alt="{{ block.settings.author_name }}"
          width="36"
          height="36"
        >
      {% else %}
        <div
          class="cwc-testimonials__testimonial-author--letter_hold"
          style="background: {% cycle '#E01E5A','#36C5F0','#ECB22E','#2EB67D', %}"
        >
          {{ block.settings.author_name | slice: 0 }}
        </div>
      {% endif %}

      <span class="author-name">{{ block.settings.author_name }}</span>
    </div>
    {% comment %}  {% endcomment %}
    {% comment %}  {% endcomment %}
    {% comment %}  {% endcomment %}
    {% comment %}  {% endcomment %}
    {% comment %}  {% endcomment %}

    <div class="cwc-featured-product__review-wrapper-author-verified">
      <span class="cwc-featured-product__review-wrapper-author-verified-icon">
        {%- render 'CWC_icon-check_badge-fill', fill_color: '#009370' -%}
      </span>
      <span class="cwc-featured-product__review-wrapper-author-verified-text"> Verified Customer </span>
    </div>
  </span>
</div>
