{% style %}
  .cwc_product-info-stack {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    margin-bottom: 12px;
  }

  .cwc_product-info-stack .info-subheading {
    color: var(--highlight-color);
    font-size: 0.95rem;
    line-height: 146%;
    font-weight: 600;
    margin-bottom: 0.4rem;
    margin: 0rem;
  }

  .cwc_product-info-stack .info-title {
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.25;
    margin: 0rem;
    line-height: 126%;
  }

  .cwc_product-info-stack .info-subtext {
    font-size: 1rem;
    line-height: 146%;
    color: #111;
    margin: 0rem;
  }

  .cwc_product-info-stack .info-bottom-note {
    color: var(--highlight-color);
    font-size: 0.95rem;
    line-height: 146%;
    font-weight: 600;
    margin: 0rem;
  }
  /* MOBILE ========================================= */
  @media screen and (max-width: 768px) {
    .cwc_product-info-stack {
      gap: 10px;
      margin-bottom: 12px;
    }
    .cwc_product-info-stack .info-bottom-note,
    .cwc_product-info-stack .info-subheading {
      font-size: 0.85rem;
    }
    .cwc_product-info-stack .info-title {
      font-size: 1.5rem;
    }
    .cwc_product-info-stack .info-subtext {
      font-size: 0.9rem;
    }
  }
{% endstyle %}

<div
  class="cwc_product-info-stack"
  {{ block.shopify_attributes }}
  style="--highlight-color: {{ block.settings.highlight_color }}"
>
  {% if block.settings.subheading != blank %}
    <div class="info-subheading">{{ block.settings.subheading }}</div>
  {% endif %}

  <h2 class="info-title">
    {% if block.settings.custom_title != blank %}
      {{ block.settings.custom_title }}
    {% else %}
      {{ product.title }}
    {% endif %}
  </h2>

  {% if block.settings.subtext != blank %}
    <div class="info-subtext">{{ block.settings.subtext }}</div>
  {% endif %}

  {% if block.settings.bottom_note != blank %}
    <div class="info-bottom-note">{{ block.settings.bottom_note }}</div>
  {% endif %}
</div>
