{% style %}
  .cwc_product-template__image,
  .cwc-featured-product__image {
    position: relative;
    margin-bottom: 1rem;
  }

  .cwc-featured-product__image-badge {
    position: absolute;
    letter-spacing: 1px;
    font-size: 1.1rem;
    font-size: 1rem;
    font-weight: 500;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    gap: 8px;
    top: 1rem;
    left: 1rem;
    padding: 2px 3rem;
    /* border: 0.8px solid #d0d0d0; */
    z-index: 9;
  }

  .cwc_product-template__image img,
  .cwc-featured-product__image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    aspect-ratio: 1/1;
  }
  .cwc-featured-product__image-badge-sold {
    position: absolute;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 1.3rem;
    left: 1rem;
    padding: 4px 3rem;
    border: 0.2px solid #cfcfcfff;
    border-radius: 5px;
    z-index: 9;

    opacity: 0.7;
  }
  @media (max-width: 991px) {
    .cwc-featured-product__image-badge {
      font-size: 0.875rem;
      left: 13px;
      top: 10px;
      padding: 2px 2rem;
    }

    .cwc-featured-product__image-badge-sold {
      font-size: 0.875rem;
      left: 13px;
      bottom: 10px;
      padding: 2px 1.5rem;
    }
    /*  */
    /*  */
    /*  */
    .cwc-product-badges {
      top: 0.75rem;
      left: 0.75rem;
    }

    .cwc-product-badge {
      font-size: 0.75rem;
      padding: 0.25rem 0.5rem;
    }

    .cwc_product-template__image_carousel {
      margin-bottom: 0.5rem;
    }

    .cwc-product-carousel {
      overflow: hidden;
    }

    .cwc-product-carousel .swiper {
      width: 100%;
      max-width: 100%;
    }

    .cwc-product-carousel .swiper-slide {
      width: 100% !important;
      height: auto !important;
      max-width: 100%;
      /* temp style to see edge on image */
      /* border: 1px solid; */
    }

    .cwc-product-carousel .swiper-slide img {
      width: 100%;
      height: auto;
      max-width: 100%;
      object-fit: contain;
    }
  }
{% endstyle %}

{% if block.settings.image != blank %}
  {% if block.settings.badge_text != blank %}
    <div
      class="cwc-featured-product__image-badge"
      style="background: {{ block.settings.badge_bg_color }}; color: {{ block.settings.badge_text_color }}"
    >
      {% render 'CWC_icon-crown', fill_color: {{ block.settings.badge_text_color  }} %}
      {{ block.settings.badge_text }}
    </div>
  {% endif %}

  <img
    src="{{ block.settings.image | image_url: width: 700 }}"
    alt="{{ block.settings.image.alt }}"
    width="{{ block.settings.image.width }}"
    height="{{ block.settings.image.height }}"
    fetchpriority="meduim"
    loading="lazy"
  >

  {% if block.settings.badge_sold_text != blank %}
    <div
      class="cwc-featured-product__image-badge-sold"
      style="background: {{ block.settings.badge_sold_bg_color }}; color: {{ block.settings.badge_sold_text_color }}"
    >
      {{ block.settings.badge_sold_text }}
    </div>
  {% endif %}

{% else %}
  {% if block.settings.badge_text != blank %}
    <div
      class="cwc-featured-product__image-badge"
      style="background: {{ block.settings.badge_bg_color }}; color: {{ block.settings.badge_text_color }}"
    >
      {% render 'CWC_icon-crown', fill_color: {{ block.settings.badge_text_color  }} %}
      {{ block.settings.badge_text }}
    </div>
  {% endif %}

  <div class="cwc-featured-product__image" {{ block.shopify_attributes }}>
    <img
      src="{{ product.featured_image | image_url: width: 700 }}"
      alt="{{ product.featured_image.alt }}"
      width="{{ product.featured_image.width }}"
      height="{{ product.featured_image.height }}"
      fetchpriority="meduim"
      loading="lazy"
    >
  </div>

  {% if block.settings.badge_sold_text != blank %}
    <div
      class="cwc-featured-product__image-badge-sold"
      style="background: {{ block.settings.badge_sold_bg_color }}; color: {{ block.settings.badge_sold_text_color }}"
    >
      {{ block.settings.badge_sold_text }}
    </div>
  {% endif %}
{% endif %}
