{% comment %} /* background-color: {{ block.settings.button_text_color }} !important; */ {% endcomment %}
{% style %}
  .cwc-reasons__btn {
        background-color: {{ block.settings.button_bg_color }} !important;
        color: {{ block.settings.button_text_color }} !important;
  }
  .cwc-reasons__btn:hover {
     border-color: {{ block.settings.button_bg_color }};
        background-color: transparent !important;
        color: {{ block.settings.button_bg_color }} !important;
  }
{% endstyle %}

{% if block.settings.text != blank %}
  <a
    href="{{ block.settings.link }}"
    class="cwc-reasons__btn"
  >
    {{ block.settings.text }}
  </a>
{% endif %}
{% if block.settings.note != blank %}
  <div class="cwc-reasons__note">{{ block.settings.note }}</div>
{% endif %}
