{% style %}
    .cwc_product-template__add_to_cart,
      .cwc-featured-product__add_to_cart{}


      .cwc-featured-product__button {
      padding: 1rem 2rem;
      font-weight: 700;
      font-size: 1.058rem;
      border-radius: 6px;
      border: 2px solid transparent;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      text-align: center;
      text-transform: uppercase;
      text-transform: capitalize;

      font-weight: 400;
      cursor: pointer;
      width: 100%;
      background-color: {{ block.settings.button_bg_color }};
      color: {{ block.settings.button_text_color }};
      -webkit-tap-highlight-color: transparent;

      }

      .cwc-featured-product__button:hover {
      border-color: {{ block.settings.button_bg_color }};
      background-color: {{ block.settings.button_text_color }};
      color: {{ block.settings.button_bg_color }};
      }


      .cwc-featured-product__button:active {
            outline: none;
      -webkit-tap-highlight-color: transparent;
      box-shadow: none;
      }


      .cwc-featured-product__button:disabled {
      opacity: 0.6;
      cursor: not-allowed;
      }

      .cwc-featured-product__button .cwc-featured-product__price-current {
      }

      .cwc-featured-product__button .cwc-featured-product__price-current {
      font-size: inherit;
      color: inherit;
      }

      .cwc-featured-product__button .cwc-featured-product__price-compare {
      opacity: 0.6;
      color: inherit;
      font-size: inherit;
      }

      .cwc-featured-product__button .cwc-featured-product__price-save {
      display: none;

      }
      .cwc-featured-product__add_to_cart-content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      }


  @media (max-width: 991px) {

      .cwc-featured-product__button {
        border-radius: 4px;
    font-size: 0.9375rem;
    line-height: 16px;
    height: 56px;
      }
  }
      @media (max-width: 768px) {
      }
{% endstyle %}

{% assign main_product = product %}

{% liquid
  assign bundle_product_4 = block.settings.bundle_product_1
  assign bundle_product_3 = block.settings.bundle_product_2
  assign bundle_product_2 = block.settings.bundle_product_3
  assign bundle_product_1 = block.settings.bundle_product_4
%}

<button
  type="button"
  class="cwc-featured-product__button"
  id="add-to-cart-{{ section_id }}"
  {% unless product.available %}
    disabled
  {% endunless %}

  {% comment %} *THIS LIKE HERE {% endcomment %}
  data-skip-cart="{{ block.settings.skip_cart }}"

  {%- if bundle_product_1 != blank -%}
    data-bundle-variant1="{{ bundle_product_1.selected_or_first_available_variant.id }}"
  {%- endif -%}
  {%- if bundle_product_2 != blank -%}
    data-bundle-variant2="{{ bundle_product_2.selected_or_first_available_variant.id }}"
  {%- endif -%}
  {%- if bundle_product_3 != blank -%}
    data-bundle-variant3="{{ bundle_product_3.selected_or_first_available_variant.id }}"
  {%- endif -%}
  {%- if bundle_product_4 != blank -%}
    data-bundle-variant4="{{ bundle_product_4.selected_or_first_available_variant.id }}"
  {%- endif -%}
>
  <div class="cwc-featured-product__add_to_cart-content">
    {% if product.available %}
      <span class="cwc-button-text">{{ block.settings.button_text | default: 'Add to Cart' }} | </span>
      <div class="cwc-button-pricing">
        <span class="cwc-featured-product__price-current" id="current-price-button-{{ section_id }}">
          {{ product.price | money }}
        </span>
        {% if product.compare_at_price > product.price %}
          <span class="cwc-featured-product__price-compare" id="compare-price-button-{{ section_id }}">
            {{ product.compare_at_price | money }}
          </span>
        {% endif %}
      </div>
    {% else %}
      <span class="cwc-button-text">Sold Out</span>
    {% endif %}
  </div>
</button>
