{% style %}
  #CWC_testimonials-{{ section.id }} {
  --section-bg: {{ section.settings.bg_color | default: '#FAF9F6' }};
  --text-color: {{ section.settings.text_color | default: '#111111' }};
  --card-bg: {{ section.settings.card_bg | default: '#ffffff' }};
  --highlight-color: {{ section.settings.highlight_color | default: '#009370' }};
  --padding-top: {{ section.settings.padding_top | default: 60 }}px;
  --padding-bottom: {{ section.settings.padding_bottom | default: 60 }}px;
  }
{% endstyle %}
{{ 'CWC_testimonials.css' | asset_url | stylesheet_tag }}
{{ 'CWC_swiper-bundle.min.css' | asset_url | stylesheet_tag }}

<section id="CWC_testimonials-{{ section.id }}" class="cwc-testimonials">
  <div class="cwc-testimonials__wrapper">
    <div class="swiper cwc-testimonials__carousel">
      {% if section.settings.section_title != blank %}
        <div class="cwc-testimonials__carousel__head-stars">
          {% render 'CWC_trust_stars' %}
        </div>

        <div class="cwc-testimonials__section-title rte">
          {{ section.settings.section_title }}
        </div>
      {% endif %}

      {% if section.settings.section_subtitle != blank %}
        <div class="cwc-testimonials__section-subtitle rte">
          {{ section.settings.section_subtitle }}
        </div>
      {% endif %}

      <div class="swiper-wrapper cwc-testimonials__carousel_swiper-wrapper">
        {% if section.settings.testimonials_collection != blank %}
          {% comment %}
            ========================================
            METAOBJECT RENDER PATH
            ========================================
          {% endcomment %}
          {% assign customer_testimonial_list = section.settings.testimonials_collection.testimonials.value %}

          {% comment %} {{ customer_testimonial_list | json }} {% endcomment %}

          {% for customer_testimonial in customer_testimonial_list %}
            <div class="swiper-slide cwc-testimonials__carousel_swiper-slide">
              <div class="cwc-testimonial-card">
                <div class="cwc-testimonials__testimonial-top">
                  <div class="cwc-testimonial-rating">
                    <span class="cwc-testimonial-rating_text">{{ customer_testimonial.rating }}</span>
                    {% render 'CWC_trust_stars' %}
                  </div>

                  {% if customer_testimonial.title != blank %}
                    <h3 class="cwc-testimonials__testimonial-title">"{{ customer_testimonial.title }}"</h3>
                  {% endif %}

                  {% if customer_testimonial.text != blank %}
                    <p class="cwc-testimonials__testimonial-text">{{ customer_testimonial.text }}</p>
                  {% endif %}
                </div>

                <div class="cwc-testimonials__testimonial-bottom">
                  <div class="cwc-testimonials__testimonial-author_wrapper">
                    <div
                      class="cwc-testimonials__testimonial-author"
                    >
                      {% if customer_testimonial.profile_image != blank %}
                        <img
                          loading="lazy"
                          fetchpriority="low"
                          src="{{ customer_testimonial.profile_image | image_url: width: 36 }}"
                          alt="{{ customer_testimonial.author }}"
                          width="36"
                          height="36"
                        >

                      {% elsif customer_testimonial.author != blank %}
                        <div
                          class="cwc-testimonials__testimonial-author--letter_hold"
                          style="background: {% cycle '#2EB67D','#E01E5A','#36C5F0','#ECB22E'%}"
                        >
                          {{ customer_testimonial.author | slice: 0 }}
                        </div>

                      {% else %}
                        <img
                          fetchpriority="low"
                          src="{{ 'icon-placeholder.png' | asset_url }}"
                          alt="Author placeholder"
                          width="36"
                          height="36"
                        >
                      {% endif %}
                      <span class="author-name">{{ customer_testimonial.author }}</span>
                    </div>

                    <div class="cwc-testimonials__testimonial-author-verified">
                      <span class="cwc-testimonials__testimonial-author-verified-icon">
                        {%- render 'CWC_icon-check_badge', fill_color: '#009370' -%}
                      </span>
                      <span class="cwc-testimonials__testimonial-author-verified-text"> Verified Customer </span>
                    </div>
                  </div>

                  <div class="cwc-testimonials__testimonial-tags">
                    {% if customer_testimonial.tag1 != blank %}
                      <span class="tag">{{ customer_testimonial.tag1 }}</span>
                    {% endif %}
                    {% if customer_testimonial.tag2 != blank %}
                      <span class="tag">{{ customer_testimonial.tag2 }}</span>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}

        {% else %}
          {% comment %}
            ========================================
            BLOCKS RENDER PATH
            ========================================
          {% endcomment %}

          {% for block in section.blocks %}
            <div class="swiper-slide cwc-testimonials__carousel_swiper-slide">
              <div class="cwc-testimonial-card" {{ block.shopify_attributes }}>
                <div class="cwc-testimonials__testimonial-top">
                  <div class="cwc-testimonial-rating">
                    <span class="cwc-testimonial-rating_text">{{ block.settings.star_rating }}</span>
                    {% render 'CWC_trust_stars' %}
                  </div>

                  {% if block.settings.title != blank %}
                    <h3 class="cwc-testimonials__testimonial-title">"{{ block.settings.title }}"</h3>
                  {% endif %}

                  {% if block.settings.text != blank %}
                    <p class="cwc-testimonials__testimonial-text">{{ block.settings.text }}</p>
                  {% endif %}
                </div>

                <div class="cwc-testimonials__testimonial-bottom">
                  <div class="cwc-testimonials__testimonial-author_wrapper">
                    <div class="cwc-testimonials__testimonial-author">
                      {% if block.settings.author_image != blank %}
                        <img
                          loading="lazy"
                          fetchpriority="low"
                          src="{{ block.settings.author_image | image_url: width: 36 }}"
                          alt="{{ block.settings.author_name }}"
                          width="36"
                          height="36"
                        >
                      {% else %}
                        <img
                          fetchpriority="low"
                          src="{{ 'icon-placeholder.png' | asset_url }}"
                          alt="Author placeholder"
                          width="36"
                          height="36"
                        >
                      {% endif %}
                      <span class="author-name">{{ block.settings.author_name }}</span>
                    </div>

                    <div class="cwc-testimonials__testimonial-author-verified">
                      <span class="cwc-testimonials__testimonial-author-verified-icon">
                        {%- render 'CWC_icon-check_badge', fill: '#009370' -%}
                      </span>
                      <span class="cwc-testimonials__testimonial-author-verified-text"> Verified Customer </span>
                    </div>
                  </div>

                  <div class="cwc-testimonials__testimonial-tags">
                    {% if block.settings.feature_one != blank %}
                      <span class="tag">{{ block.settings.feature_one }}</span>
                    {% endif %}
                    {% if block.settings.feature_two != blank %}
                      <span class="tag">{{ block.settings.feature_two }}</span>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>

  <div class="cwc-testimonials__carousel-progress">
    <div class="cwc-testimonials__progress-bar"></div>
  </div>

  {% comment %}
    - ** Add show arrow settings
  {% endcomment %}
  <div class="cwc-testimonials__carousel-controls">
    <div class="swiper-button-prev cwc-testimonials__carousel-prev">
      {% render 'CWC_icon-arrow-chev', fill_color: section.settings.text_color | default: '#6b7280' %}
    </div>
    <div class="swiper-button-next cwc-testimonials__carousel-next">
      {% render 'CWC_icon-arrow-chev', fill_color: section.settings.text_color |default: '#6b7280' %}
    </div>
  </div>
</section>
{{ 'CWC_testimonials.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "CWC Testimonials",
  "tag": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "section_title",
      "label": "Section Title",
      "default": "<h2>The Ollie Advantage: Right Concentration, Right Shape, Right Price</h2>"
    },
    {
      "type": "richtext",
      "id": "section_subtitle",
      "label": "Section Subtitle",
      "default": "<p>Not all hydroxyapatite toothpastes are created equal. Here's what makes Ollie different.</p>"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#FAF9F6"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#111111"
    },
    {
      "type": "color",
      "id": "card_bg",
      "label": "Card background color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "highlight_color",
      "label": "Highlight color",
      "default": "#009370"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "px",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "px",
      "default": 40
    },
    {
      "type": "metaobject",
      "id": "testimonials_collection",
      "label": "Testimonials Collection",
      "metaobject_type": "testimonial_collections",
      "info": "Select a testimonial collection metaobject. Leave blank to use individual blocks below."
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "text",
          "id": "star_rating",
          "label": "Star rating",
          "default": "4.9"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Headline",
          "default": "Amazing product!"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Review text",
          "default": "This product completely exceeded my expectations..."
        },
        {
          "type": "text",
          "id": "author_name",
          "label": "Author name",
          "default": "Jane D."
        },
        {
          "type": "image_picker",
          "id": "author_image",
          "label": "Author image"
        },
        {
          "type": "text",
          "id": "feature_one",
          "label": "Tag / Feature #1",
          "default": "Eco-friendly"
        },
        {
          "type": "text",
          "id": "feature_two",
          "label": "Tag / Feature #2",
          "default": "Durable"
        }
      ]
    }
  ],
  "max_blocks": 12,
  "presets": [
    {
      "name": "Testimonials",
      "category": "Custom",
      "blocks": [
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        }
      ]
    }
  ]
}
{% endschema %}

{% comment %}
  {% if section.settings.testimonials_collection %}
    {% assign customer_testimonial_list = section.settings.testimonials_collection.testimonials.value %}
  {% else %}
    {% assign customer_testimonial_list = section.blocks %}
  {% endif %}

  <section id="CWC_testimonials-{{ section.id }}" class="cwc-testimonials">
    <div class="cwc-testimonials__wrapper">
      <div class="swiper cwc-testimonials__carousel">

        <div class="swiper-wrapper cwc-testimonials__carousel_swiper-wrapper">
          {% for customer_testimonial in customer_testimonial_list %}
            {% if section.settings.testimonials_collection %}
              {% assign rating = customer_testimonial.rating %}
              {% assign title = customer_testimonial.title %}
              {% assign text = customer_testimonial.text %}
              {% assign author = customer_testimonial.author %}
              {% assign tag1 = customer_testimonial.tag1 %}
              {% assign tag2 = customer_testimonial.tag2 %}
              {% assign img_value = customer_testimonial.profile_image %}
              {% assign img_url = customer_testimonial.profile_image | image_url: width: 36 %}

            {% else %}
              {% assign rating = customer_testimonial.settings.star_rating %}
              {% assign title = customer_testimonial.settings.title %}
              {% assign text = customer_testimonial.settings.text %}
              {% assign author = customer_testimonial.settings.author_name %}
              {% assign tag1 = customer_testimonial.settings.feature_one %}
              {% assign tag2 = customer_testimonial.settings.feature_two %}
              {% assign img_value = customer_testimonial.settings.author_image %}
              {% assign img_url = customer_testimonial.settings.author_image | image_url: width: 36 %}
            {% endif %}
            <div class="swiper-slide cwc-testimonials__carousel_swiper-slide">
              <div class="cwc-testimonial-card" {{ block.shopify_attributes }}>
                <div class="cwc-testimonials__testimonial-top">
                  <div class="cwc-testimonial-rating">
                    <span class="cwc-testimonial-rating_text">{{ rating }}</span>
                    {% render 'CWC_trust_stars' %}
                  </div>

                  {% if title != blank %}
                    <h3 class="cwc-testimonials__testimonial-title">"{{ title }}"</h3>
                  {% endif %}

                  {% if text != blank %}
                    <p class="cwc-testimonials__testimonial-text">{{ text }}</p>
                  {% endif %}
                </div>

                <div class="cwc-testimonials__testimonial-bottom">
                  <div class="cwc-testimonials__testimonial-author_wrapper">
                    <div class="cwc-testimonials__testimonial-author">
                      {% if img_value != blank %}
                        <img
                          loading="lazy"
                          fetchpriority="low"
                          src="{{ img_url }}"
                          alt="{{ author }}"
                          width="36"
                          height="36"
                        >
                      {% else %}
                        <img
                          fetchpriority="low"
                          src="{{ 'icon-placeholder.png' | asset_url }}"
                          alt="Author placeholder"
                          width="36"
                          height="36"
                        >
                      {% endif %}
                      <span class="author-name">{{ author }}</span>
                    </div>

                    <div class="cwc-testimonials__testimonial-author-verified">
                      <span class="cwc-testimonials__testimonial-author-verified-icon">
                        {%- render 'CWC_icon-check_badge', fill: '#009370' -%}
                      </span>
                      <span class="cwc-testimonials__testimonial-author-verified-text"> Verified Customer </span>
                    </div>
                  </div>

                  <div class="cwc-testimonials__testimonial-tags">
                    {% if tag1 != blank %}
                      <span class="tag">{{ tag1 }}</span>
                    {% endif %}
                    {% if tag2 != blank %}
                      <span class="tag">{{ tag2 }}</span>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="cwc-testimonials__carousel-progress">
      <div class="cwc-testimonials__progress-bar"></div>
    </div>

    <div class="cwc-testimonials__carousel-controls">
      <div class="swiper-button-prev cwc-testimonials__carousel-prev"></div>
      <div class="swiper-button-next cwc-testimonials__carousel-next"></div>
    </div>
  </section>
{% endcomment %}
