{% style %}
  #CWC_page_rich_text-{{ section.id }} {
  --section-bg: {{ section.settings.bg_color }};
  --padding-top: {{ section.settings.padding_top }}px;
  --padding-bottom: {{ section.settings.padding_bottom }}px;
  --padding-top-mobile: {{ section.settings.padding_top | times: 0.4 }}px;
  --padding-bottom-mobile: {{ section.settings.padding_bottom | times: 0.4 }}px;
  }
{% endstyle %}

{{ 'CWC_page_rich_text.css' | asset_url | stylesheet_tag }}

<section
  id="CWC_page_rich_text-{{ section.id }}"
  class="cwc-page-rich-text  {% if section.settings.sidebar %}cwc-page-rich-text__article-grid{% endif %}"
>
  <div class="cwc-page-rich-text__container">
    <div class="cwc-page-rich-text__wrapper">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'heading' %}
            <div
              class="cwc-page-rich-text__heading {{ block.settings.alignment }}"
              {{ block.shopify_attributes }}
              style="
                --title_color: {{ block.settings.text_color }};
                --bold_color: {{ block.settings.bold_color }};
              "
            >
              {{ block.settings.text }}
            </div>

          {% when 'image' %}
            <div class="cwc-page-rich-text__image" {{ block.shopify_attributes }}>
              {% if block.settings.image != blank %}
                <img src="{{ block.settings.image | img_url: '1200x' }}" alt="">
              {% else %}
                <img src="{{ 'placeholder.png' | asset_url }}" alt="Placeholder image">
              {% endif %}
            </div>

          {% when 'title' %}
            <div class="cwc-page-rich-text__title" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>

          {% when 'caption' %}
            <div class="cwc-page-rich-text__caption" {{ block.shopify_attributes }}>{{ block.settings.caption }}</div>

          {% when 'note' %}
            <div
              class="cwc-page-rich-text__note {% if block.settings.label %}label{% endif %}"
              {{ block.shopify_attributes }}
              style="background-color: {{ block.settings.bg-color }}; border-radius: {{ block.settings.radius }}px; border: {{ block.settings.border-type }} {{ block.settings.border-color }} 1px;"
            >
              {{ block.settings.note }}
            </div>

          {% when 'text' %}
            <div class="cwc-page-rich-text__text rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>

          {% when 'button' %}
            {% if block.settings.button_text != blank %}
              <div class="cwc-page-rich-text__button-wrap" {{ block.shopify_attributes }}>
                {% comment %} <div class="cwc-page-rich-text__button-contianer"> {% endcomment %}
                <a
                  href="{{ block.settings.button_link }}"
                  class="cwc-page-rich-text__button"
                  style="
                    --button_text_color: {{ block.settings.button_text_color }};
                    --button_bg_color: {{ block.settings.button_bg_color }};
                  "
                >
                  {{ block.settings.button_text }}
                </a>
                {% if block.settings.button_note != blank %}
                  <div class="cwc-page-rich-text__button-note">
                    {% render 'CWC_icon-shield', fill: block.settings.button_bg_color %}
                    {{ block.settings.button_note }}
                  </div>
                {% endif %}
                {% comment %} </div> {% endcomment %}
              </div>
            {% endif %}
        {% endcase %}
      {% endfor %}
    </div>
  </div>
  {% comment %} <div class="cwc-page-rich-text__sidebar"></div> {% endcomment %}
</section>
{% schema %}
{
  "name": "CWC Page Rich Text",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#FAF9F6"
    },
    {
      "type": "checkbox",
      "id": "sidebar",
      "label": " Display in article format",
      "default": true
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Heading text",
          "default": "<p>This 2-Minute Healthy Habit Helps Ensure Great Health…Daily</p>"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "bold_color",
          "label": "Title Color",
          "default": "#D95F8E"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Title text",
          "default": "<p>Yo Fruits Yo Veggies</p>"
        }
      ]
    },
    {
      "type": "caption",
      "name": "Caption",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "caption",
          "label": "Caption text",
          "default": "<p>Superfoods Made Simple</p>"
        }
      ]
    },
    {
      "type": "note",
      "name": "Note",
      "limit": 10,
      "settings": [
        {
          "type": "richtext",
          "id": "note",
          "label": "Rich text",
          "default": "<p>Yo Fruits Yo Veggies means more nutrition…no meaningless ingredients…and no single-use packaging</p>"
        },
        {
          "type": "color",
          "id": "bg-color",
          "label": "Button color",
          "default": "#F9F6ED"
        },
        {
          "type": "select",
          "id": "border-type",
          "label": "Border type",
          "options": [
            {
              "value": "none",
              "label": "none"
            },
            {
              "value": "solid",
              "label": "Solid"
            },
            {
              "value": "dashed",
              "label": "Dashed"
            },
            {
              "value": "dotted",
              "label": "Dotted"
            }
          ],
          "default": "solid"
        },
        {
          "type": "color",
          "id": "border-color",
          "label": "border color",
          "default": "#f4f4f4"
        },
        {
          "type": "range",
          "id": "radius",
          "label": "border radius",
          "min": 0,
          "max": 40,
          "step": 2,
          "default": 8
        },
        {
          "type": "checkbox",
          "label": "Highlight box",
          "id": "label",
          "default": false
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 10,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Rich text",
          "default": "<p>Your simple solution to a healthier diet – and a healthier lifestyle!&nbsp;</p>"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Try Risk-Free Today"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
        {
          "type": "color",
          "id": "button_bg_color",
          "label": "Button Background Color",
          "default": "#6DBF55"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Button Text Color",
          "default": "#ffffff"
        },
        {
          "type": "text",
          "id": "button_note",
          "label": "Button Note Text",
          "default": "120-Day Money-Back Guarantee"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Page Rich Text",
      "category": "Page",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "image"
        },
        {
          "type": "title"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
